body {
    background-image: url(/images/tropical-beach-background-1.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Tropical";
    height: 97vh;
    width: 100%;
    text-align: center;
    margin: 0;
}

.container {
    height: fit-content;
    width: fit-content;
    background-color: blue;
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 20px;
}

.column {
    width: fit-content;
    height: fit-content;
}

.slot {
    width: 90px;
    height: 90px;;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.red {
    background-image: url(/images/corona.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.yellow {
    background-image: url(/images/lagunitas.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
}

.modal-content {
    background-color: rgba(32, 30, 30, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 50px;
}

.modalButton {
    margin-top: 3%;
    font-size: 75px;
    height: 60px;
    width: 250px;
    background-image: url(/images/bottle3.png);
    background-size: cover;
    background-color: transparent;
    color:white
}

#resetButton {
    margin-top: 3%;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.title {
    width: 25%;
    height: auto;
}

h2, h1 {
    font-family: "Tropical";
    font-size: 300%;
    margin: 0;
}

h1 {
    font-size: 400%;
}
