body {
    background-image: url(./images/tropical-beach-background-1.jpg);
    background-size: 100vw 105vh;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Tropical";
    height: 97vh;
    width: 100%;
    text-align: center;
    margin: 0;
    position: relative;
}

.container {
    height: 580px;
    width: 700px;
    /* background-color: rgba(126, 186, 255, 0.568); */
    background-image: linear-gradient(rgba(255, 94, 0, 0.5), rgba(237, 216, 100, 0.5));
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 20px;
}

.column {
    width: fit-content;
    height: fit-content;
}

.slot {
    width: 90px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 50%;
    margin: 5px;
}

.slot:hover {
    cursor: pointer;
}

.modal-overlay,
.modal-beer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
}

.modal-content {
    background-color: rgba(32, 30, 30, 0.8);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 50px;
}

.modalButton {
    margin-top: 3%;
    font-size: 75px;
    height: 60px;
    width: 250px;
    background-image: url(./images/bottle3.png);
    background-size: cover;
    background-color: transparent;
    color: white;
}

.modalButton:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.title {
    width: 25%;
    height: auto;
}

h2,
h1 {
    font-family: "Tropical";
    font-size: 300%;
    margin: 0;
}

h1 {
    font-size: 400%;
}

#resetText {
    font-size: 4rem;
    margin: 0 auto;
    width: fit-content;
}

#resetText:hover {
    cursor: pointer;
}

.beer-content {
    background-color: rgba(135, 207, 235, 0.897);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 28vw;
    height: 50vh;
    color: white;
    border-radius: 50px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 66%;
}

.box > * {
    flex-basis: 30%;
}

.corona-slot,
.lag-slot {
    background-color: rgba(32, 30, 30, 0.8);
}

.beer-content > h1 {
    width: 100%;
    color: black;
}

.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}

.player > div > p {
    font-size: 1.3rem;
    text-shadow: #fc0 1px 0 20px;
}

.spin {
    transition: 1000ms ease;
    transform: rotateY(360deg);
}

.spin2 {
    transition: 3000ms ease-in-out;
    transform: rotateY(9000deg);
}

.column:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 28, 0.8);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        width: 575px;
        height: 465px;
    }

    .player {
        width: 575px;
    }

    .slot {
        width: 72px;
        height: 72px;
    }
}

@media only screen and (min-device-width: 667px) and (max-device-height: 375px) {
    body {
        width: 375px;
        margin: 0 auto;
    }

    header h2 {
        font-size: 30px;
    }

    #resetText {
        font-size: 30px;
    }

    .container {
        height: 239px;
        width: 306px;
        margin: auto;
    }

    .player {
        width: 306px;
    }

    .slot {
        width: 34px;
        height: 34px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
    body {
        width: 375px;
    }

    .container {
        height: 239px;
        width: 306px;
    }

    .player {
        width: 100%;
        height: 9%;
    }

    .player > div {
        flex-basis: 33%;
    }

    .player > div > p {
        font-size: 0.9rem;
        text-shadow: #fc0 1px 0 20px;
    }

    h2 {
        font-size: 150%;
    }

    .slot {
        width: 34px;
        height: 34px;
    }

    .modal-overlay {
        width: 100%;
        justify-content: flex-start;
        margin-left: 12px;
    }

    .modal-content {
        width: 350px;
        font-size: 10px;
    }

    .beer-content {
        width: 80vw;
    }

    .beer-content > h1 {
        font-size: 2rem;
    }

    .box {
        width: 100%;
    }

    .box > * {
        height: 84px;
    }
}

@media only screen and (min-device-width: 667px) and (max-device-height: 375px) {
    .modal-beer {
        width: 56%;
        height: 66vh;
    }

    .beer-content {
        width: 50vw;
    }

    .beer-content > h1 {
        font-size: 2rem;
    }

    .box {
        width: 100%;
    }

    .box > * {
        height: 84px;
    }
}
